Read unclean.csv <br>
Clean 'em up <br>
Store in clean.csv <br>
<br>
Requires: https://github.com/rfk/pyenchant <br>

In [41]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
import string, re
from nltk.tokenize.nist import NISTTokenizer
tknzr = NISTTokenizer()
import pandas
import time
#from timeout import timeout
from math import pow
import enchant

checker = enchant.Dict("en_US")
lemmatizer = WordNetLemmatizer()
RE_D = re.compile('\d')
RE_AP = re.compile("'")
RE_DO = re.compile("\.")

In [42]:
def norm(x,n=3):
	y = pow(10,n)
	return int(x*y)/pow(10,n)

p = {}
for i in string.punctuation:
    p[i]=True
    
def replace_punc(s_out):
    s1_out = []
    for i in s_out:
        try:
            if(p[i]==True):
                continue
        except:
            s1_out.append(i)
    return s1_out

57

In [78]:
#df = pd.read_csv('unclean.csv')
df = pd.read_csv('all_GitHub.csv')
#df.describe()
# 160 rating failure
# 46653 rows
# 57 unique specialties
# 6197 unique docs

r = df['review']
R = [] # cleaned review texts

In [79]:
stop_words = set(stopwords.words("english"))
to_keep = ['she','he','not','during','before','after','him','her','his','hers','herself','himself']
# keeping gendered words to be able to run analyses later
to_remove = ['also',"i'm","i'll","we've","i've","can't","it's","i'd","you're","doesn't","that's",'got','would','many','some','few']
for i in to_keep:
    stop_words.remove(i)
for i in to_remove:
    stop_words.add(i)

In [80]:
to_allow = ['xray','x-ray']

#@timeout(5)
def pre2(r1): # created June 19
    r1 = r1.lower()
    r1 = re.sub('\s+', ' ', r1)
    r_out = tknzr.tokenize(r1)
    r_out = replace_punc(r_out)
    for i in range(len(r_out)):
        if len(r_out[i]) < 2:
            r_out[i] = ''
            continue
        if r_out[i] in to_allow:
            continue
        if checker.check(r_out[i]) == False:
            r_out[i] = ''
            continue
        if r_out[i] in stop_words:
            r_out[i] = ''
            continue
        r_out[i] = lemmatizer.lemmatize(r_out[i])  

    r_out = (' ').join(r_out)
    r_out = r_out.strip()
    r_out = r_out.lower()
    r_out = re.sub('\s+', ' ', r_out)
    r_out = r_out.split(' ')
    return r_out

In [81]:
start = time.time()
timer1 = start
len_r = len(r)
for i,r1 in enumerate(r):
    if(i%100==0):
        timer2 = time.time()
        print(i,norm(timer2-timer1))
        timer1 = timer2
    if(i%1000==0 and i != 0):
        t_so_far = norm((timer2-start)/60,0)
        print(norm(i/len_r)*100,'% done in ',t_so_far,' minutes\t',norm((t_so_far*(len_r-i))/i,0),' minutes remaining...')
    r1 = r1[2:-1]
    try:
        new2 = pre2(r1)
        R.append(new2)
    except:
        print(i, N[i])
        continue
timer2 = time.time()
print(i,norm(timer2-timer1))

0 0.001
100 0.228
200 0.132
300 0.135
400 0.142
500 0.096
600 0.077
700 0.091
800 0.121
900 0.101
1000 0.113
2.1 % done in  0.0  minutes	 0.0  minutes remaining...
1100 0.098
1200 0.08
1300 0.147
1400 0.108
1500 0.144
1600 0.108
1700 0.129
1800 0.108
1900 0.082
2000 0.106
4.2 % done in  0.0  minutes	 0.0  minutes remaining...
2100 0.106
2200 0.133
2300 0.092
2400 0.087
2500 0.114
2600 0.183
2700 0.093
2800 0.095
2900 0.134
3000 0.121
6.4 % done in  0.0  minutes	 0.0  minutes remaining...
3100 0.114
3200 0.097
3300 0.12
3400 0.141
3500 0.112
3600 0.112
3700 0.137
3800 0.11
3900 0.121
4000 0.108
8.5 % done in  0.0  minutes	 0.0  minutes remaining...
4100 0.152
4200 0.105
4300 0.088
4400 0.099
4500 0.092
4600 0.085
4700 0.124
4800 0.099
4900 0.08
5000 0.1
10.7 % done in  0.0  minutes	 0.0  minutes remaining...
5100 0.119
5200 0.158
5300 0.106
5400 0.119
5500 0.11
5600 0.099
5700 0.14
5800 0.086
5900 0.103
6000 0.117
12.8 % done in  0.0  minutes	 0.0  minutes remaining...
6100 0.1
6200 0.09
6300 0.099
6400 0.109
6500 0.119
6600 0.088
6700 0.1
6800 0.097
6900 0.084
7000 0.109
15.0 % done in  0.0  minutes	 0.0  minutes remaining...
7100 0.098
7200 0.086
7300 0.097
7400 0.088
7500 0.085
7600 0.084
7700 0.084
7800 0.091
7900 0.094
8000 0.102
17.1 % done in  0.0  minutes	 0.0  minutes remaining...
8100 0.118
8200 0.102
8300 0.09
8400 0.113
8500 0.092
8600 0.133
8700 0.084
8800 0.105
8900 0.111
9000 0.119
19.2 % done in  0.0  minutes	 0.0  minutes remaining...
9100 0.094
9200 0.087
9300 0.086
9400 0.09
9500 0.078
9600 0.094
9700 0.098
9800 0.102
9900 0.11
10000 0.098
21.4 % done in  0.0  minutes	 0.0  minutes remaining...
10100 0.127
10200 0.099
10300 0.129
10400 0.09
10500 0.097
10600 0.094
10700 0.098
10800 0.108
10900 0.109
11000 0.106
23.5 % done in  0.0  minutes	 0.0  minutes remaining...
11100 0.09
11200 0.099
11300 0.094
11400 0.118
11500 0.1
11600 0.082
11700 0.091
11800 0.084
11900 0.087
12000 0.075
25.7 % done in  0.0  minutes	 0.0  minutes remaining...
12100 0.099
12200 0.095
12300 0.096
12400 0.091
12500 0.076
12600 0.138
12700 0.087
12800 0.142
12900 0.142
13000 0.152
27.800000000000004 % done in  0.0  minutes	 0.0  minutes remaining...
13100 0.146
13200 0.135
13300 0.127
13400 0.099
13500 0.105
13600 0.09
13700 0.093
13800 0.065
13900 0.084
14000 0.092
30.0 % done in  0.0  minutes	 0.0  minutes remaining...
14100 0.091
14200 0.1
14300 0.092
14400 0.098
14500 0.098
14600 0.101
14700 0.123
14800 0.106
14900 0.086
15000 0.097
32.1 % done in  0.0  minutes	 0.0  minutes remaining...
15100 0.094
15200 0.079
15300 0.106
15400 0.142
15500 0.15
15600 0.121
15700 0.103
15800 0.091
15900 0.081
16000 0.105
34.2 % done in  0.0  minutes	 0.0  minutes remaining...
16100 1.261
16200 0.086
16300 0.097
16400 0.086
16500 0.106
16600 0.084
16700 0.115
16800 0.118
16900 0.083
17000 0.087
36.4 % done in  0.0  minutes	 0.0  minutes remaining...
17100 0.085
17200 0.096
17300 0.097
17400 0.108
17500 0.085
17600 0.089
17700 0.086
17800 0.09
17900 0.098
18000 0.122
38.5 % done in  0.0  minutes	 0.0  minutes remaining...
18100 0.116
18200 0.088
18300 0.104
18400 0.093
18500 0.152
18600 0.075
18700 0.075
18800 0.084
18900 0.114
19000 0.129
40.699999999999996 % done in  0.0  minutes	 0.0  minutes remaining...
19100 0.122
19200 0.094
19300 0.131
19400 0.091
19500 0.086
19600 0.086
19700 0.126
19800 0.103
19900 0.122
20000 0.091
42.8 % done in  0.0  minutes	 0.0  minutes remaining...
20100 0.117
20200 0.073
20300 0.104
20400 0.115
20500 0.084
20600 0.106
20700 0.097
20800 0.09
20900 0.113
21000 0.094
45.0 % done in  0.0  minutes	 0.0  minutes remaining...
21100 0.097
21200 0.133
21300 0.097
21400 0.102
21500 0.104
21600 0.098
21700 0.094
21800 0.089
21900 0.081
22000 0.086
47.099999999999994 % done in  0.0  minutes	 0.0  minutes remaining...
22100 0.092
22200 0.106
22300 0.11
22400 0.101
22500 0.126
22600 0.094
22700 0.131
22800 0.09
22900 0.118
23000 0.098
49.3 % done in  0.0  minutes	 0.0  minutes remaining...
23100 0.098
23200 0.166
23300 0.082
23400 0.118
23500 0.088
23600 0.114
23700 0.111
23800 0.099
23900 0.104
24000 0.122
51.4 % done in  0.0  minutes	 0.0  minutes remaining...
24100 0.124
24200 0.101
24300 0.117
24400 0.113
24500 0.1
24600 0.148
24700 0.11
24800 0.085
24900 0.131
25000 0.087
53.5 % done in  0.0  minutes	 0.0  minutes remaining...
25100 0.084
25200 0.082
25300 0.069
25400 0.114
25500 0.138
25600 0.063
25700 0.095
25800 0.106
25900 0.096
26000 0.09
55.7 % done in  0.0  minutes	 0.0  minutes remaining...
26100 0.094
26200 0.08
26300 0.097
26400 0.099
26500 0.102
26600 0.111
26700 0.121
26800 0.118
26900 0.13
27000 0.08
57.8 % done in  0.0  minutes	 0.0  minutes remaining...
27100 0.122
27200 0.104
27300 0.086
27400 0.086
27500 0.103
27600 0.102
27700 0.111
27800 0.089
27900 0.081
28000 0.091
60.0 % done in  0.0  minutes	 0.0  minutes remaining...
28100 0.077
28200 0.093
28300 0.122
28400 0.087
28500 0.08
28600 0.113
28700 0.11
28800 0.078
28900 0.104
29000 0.102
62.1 % done in  0.0  minutes	 0.0  minutes remaining...
29100 0.077
29200 0.085
29300 0.089
29400 0.125
29500 0.105
29600 0.106
29700 0.089
29800 0.105
29900 0.102
30000 0.114
64.3 % done in  0.0  minutes	 0.0  minutes remaining...
30100 0.128
30200 0.119
30300 0.08
30400 0.076
30500 0.083
30600 0.104
30700 0.088
30800 0.096
30900 0.087
31000 0.116
66.4 % done in  0.0  minutes	 0.0  minutes remaining...
31100 0.099
31200 0.11
31300 0.079
31400 0.095
31500 0.081
31600 0.086
31700 0.088
31800 0.108
31900 0.094
32000 0.092
68.5 % done in  0.0  minutes	 0.0  minutes remaining...
32100 0.106
32200 0.082
32300 0.086
32400 0.083
32500 0.126
32600 0.099
32700 0.082
32800 0.092
32900 0.091
33000 0.108
70.7 % done in  0.0  minutes	 0.0  minutes remaining...
33100 0.11
33200 0.107
33300 0.103
33400 0.101
33500 0.117
33600 0.116
33700 0.124
33800 0.091
33900 0.105
34000 0.101
72.8 % done in  0.0  minutes	 0.0  minutes remaining...
34100 0.088
34200 0.101
34300 0.111
34400 0.108
34500 0.112
34600 0.097
34700 0.114
34800 0.098
34900 0.108
35000 0.096
75.0 % done in  0.0  minutes	 0.0  minutes remaining...
35100 0.098
35200 0.085
35300 0.066
35400 0.082
35500 0.086
35600 0.113
35700 0.112
35800 0.105
35900 0.091
36000 0.091
77.10000000000001 % done in  0.0  minutes	 0.0  minutes remaining...
36100 0.105
36200 0.077
36300 0.087
36400 0.081
36500 0.077
36600 0.13
36700 0.099
36800 0.095
36900 0.104
37000 0.106
79.3 % done in  0.0  minutes	 0.0  minutes remaining...
37100 0.098
37200 0.096
37300 0.102
37400 0.089
37500 0.101
37600 0.163
37700 0.105
37800 0.094
37900 0.118
38000 0.095
81.39999999999999 % done in  0.0  minutes	 0.0  minutes remaining...
38100 0.119
38200 0.092
38300 0.106
38400 0.098
38500 0.088
38600 0.089
38700 0.091
38800 0.097
38900 0.115
39000 0.083
83.5 % done in  0.0  minutes	 0.0  minutes remaining...
39100 0.09
39200 0.091
39300 0.093
39400 0.102
39500 0.111
39600 0.142
39700 0.102
39800 0.122
39900 0.079
40000 0.083
85.7 % done in  0.0  minutes	 0.0  minutes remaining...
40100 0.103
40200 0.112
40300 0.102
40400 0.112
40500 0.117
40600 0.1
40700 0.086
40800 0.093
40900 0.11
41000 0.109
87.8 % done in  0.0  minutes	 0.0  minutes remaining...
41100 0.081
41200 0.096
41300 0.114
41400 0.083
41500 0.131
41600 0.106
41700 0.102
41800 0.114
41900 0.088
42000 0.083
90.0 % done in  0.0  minutes	 0.0  minutes remaining...
42100 0.106
42200 0.086
42300 0.087
42400 0.076
42500 0.133
42600 0.186
42700 0.186
42800 0.265
42900 0.234
43000 0.309
92.10000000000001 % done in  0.0  minutes	 0.0  minutes remaining...
43100 0.198
43200 0.206
43300 0.13
43400 0.121
43500 0.092
43600 0.122
43700 0.098
43800 0.107
43900 0.119
44000 0.091
94.3 % done in  0.0  minutes	 0.0  minutes remaining...
44100 0.097
44200 0.098
44300 0.095
44400 0.133
44500 0.115
44600 0.12
44700 0.123
44800 0.081
44900 0.118
45000 0.106
96.39999999999999 % done in  0.0  minutes	 0.0  minutes remaining...
45100 0.084
45200 0.076
45300 0.105
45400 0.142
45500 0.131
45600 0.125
45700 0.111
45800 0.1
45900 0.11
46000 0.129
98.6 % done in  0.0  minutes	 0.0  minutes remaining...
46100 0.146
46200 0.094
46300 0.111
46400 0.144
46500 0.078
46600 0.103
46652 0.041

In [82]:
df['review'] = R
df.to_csv('cleaned_2.csv')

In [83]:
df.sample(5)

,Unnamed: 0,doc_id,name,specialty,gender,S,P,H,K,review
45646,7732.5,7732,dr-jane-la-grange-somerset-west-wc-za,gynecologist-obgyn,f,5,5,5,5,"[fantastic, woman, she, delivered, baby, boy, ..."
9730,1652.9,1652,Dr-Deirdre+M.-Marshall-South+Miami-FL.html,cosmetic-plastic-surgeon,f,5,5,5,5,"[year, half, ago, could, not, happier, incredi..."
37172,6325.4,6325,dr-alida-andersen-toronto-on-ca,dentist,f,5,5,5,5,"[came, emergency, after, car, accident, word, ..."
11379,1940.1,1940,Dr-Michael+F.-Bishara-Riverside-CA.html,addiction-medicine,m,5,5,5,5,"[far, one, best, doctor, ever, dealt, went, hi..."
10727,1820.7,1820,Dr-RICHARD+L.-BRIDGHAM-Somers-NY.html,orthodontist,m,5,5,5,5,"[say, enough, great, thing, orthodontics, daug..."

# Ignore infrequent specialties

In [84]:
s_freq = {}
S = df['specialty']
for s in S:
    try:
        s_freq[s] += 1
    except:
        s_freq[s] = 1

In [85]:
s_freq

{'psychiatrist': 1301,
 'bariatric-weight-loss': 302,
 'naturopath': 1408,
 'chiropractor': 1922,
 'vascular-phlebologist': 356,
 'family-gp': 1935,
 'gynecologist-obgyn': 1798,
 'pulmonologist-lungs': 195,
 'orthodontist': 1537,
 'internist-geriatrician': 1269,
 'dermatologist': 1730,
 'cosmetic-plastic-surgeon': 1928,
 'periodontist-gums': 841,
 'neurosurgeon': 1063,
 'endodontist-root-canal': 743,
 'pain-mgmt-physical-rehab': 1308,
 'acupuncturist': 1119,
 'sports-medicine-physicians': 282,
 'oral-surgeon': 1028,
 'psychologist': 1479,
 'reproductive-endocrinologist': 1601,
 'urologist': 963,
 'orthopedics-sports': 1385,
 'cardiothoracic-surgeon': 167,
 'radiologist': 206,
 'cardiologist': 791,
 'dentist': 1970,
 'oncologist-hematologist': 853,
 'nephrologist-kidney': 218,
 'gastroenterologist': 1090,
 'podiatrist': 1648,
 'rheumatologist': 467,
 'pediatrician': 1253,
 'ophthalmologist': 1465,
 'urogynecologist': 70,
 'nurse-practitioner': 384,
 'optometrist': 1816,
 'midwife': 161,
 'ear-nose-and-throat-ent': 1358,
 'endocrinologist': 1043,
 'neurologist': 1101,
 'allergist-immunologist': 485,
 'anesthesiologist': 366,
 'infectious-disease': 99,
 'homeopath': 23,
 'colorectal-proctologist': 366,
 'surgeon-general': 1091,
 'audiologist': 31,
 'emergency-critical': 187,
 'sleep-disorders': 136,
 'therapist': 139,
 'registered-massage-therapist': 27,
 'addiction-medicine': 104,
 'geneticist': 6,
 'pathologist': 1,
 'preventive-occupational': 18,
 'perinatologist-maternal-fetal-medicine': 20}

In [86]:
threshold = 1000
allowed = [] # list of allowed specialties, which have frequency above threshold
for i in s_freq:
    if s_freq[i] >= threshold:
        allowed.append(i)
print(allowed)
print(len(allowed))

['psychiatrist', 'naturopath', 'chiropractor', 'family-gp', 'gynecologist-obgyn', 'orthodontist', 'internist-geriatrician', 'dermatologist', 'cosmetic-plastic-surgeon', 'neurosurgeon', 'pain-mgmt-physical-rehab', 'acupuncturist', 'oral-surgeon', 'psychologist', 'reproductive-endocrinologist', 'orthopedics-sports', 'dentist', 'gastroenterologist', 'podiatrist', 'pediatrician', 'ophthalmologist', 'optometrist', 'ear-nose-and-throat-ent', 'endocrinologist', 'neurologist', 'surgeon-general']
26

In [87]:
df1 = df[df['specialty'].str.contains('|'.join(allowed))]

In [88]:
print(len(df1.specialty.unique())) # 26
print(len(df1.name.unique())) # 4533

26
4553

# Group specialties

In [89]:
group_specialties1 = {
 'internist-geriatrician':'int',
 'gastroenterologist':'gas',
 'family-gp':'family',
 'pain-mgmt-physical-rehab':'bone',
 'reproductive-endocrinologist':'gyn',
 'orthopedics-sports':'bone',
 'dermatologist':'skin',
 #'acupuncturist':'alt',
 #'naturopath':'alt',
 'ophthalmologist':'eye',
 'psychiatrist':'psych',
 'cosmetic-plastic-surgeon':'skin',
 #'optometrist':'eye',
 #'chiropractor':'bone',
 'pediatrician':'pedia',
 'neurosurgeon':'brain',
 #'orthodontist':'dent',
 'endocrinologist':'endo',
 'neurologist':'brain',
 #'dentist':'dent',
 #'podiatrist':'bone',
 'surgeon-general':'surg',
 'ear-nose-and-throat-ent':'ent',
 'gynecologist-obgyn':'gyn',
 #'psychologist':'psych',
 #'oral-surgeon':'dent'
}

In [90]:
for i in range(len(df1)):
    entry = df1.iloc[i]
    name = entry.name
    try:
        df1.set_value(name,'specialty', group_specialties1[entry['specialty']])
    except:
        df1.set_value(name,'specialty', '-1')
    if i%1000 == 0:
        print(i)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  import sys

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000

In [91]:
df1.sample(5)

,Unnamed: 0,doc_id,name,specialty,gender,S,P,H,K,review
40042,6796.2,6796,Dr-Ingrid-Tall-Brisbane-QLD.html,skin,f,5,5,5,5,"[heard, before, decided, two, treatment, clini..."
11230,1909.6,1909,dr-akash-sinha-crestview-hills-ky-us,pedia,m,5,5,5,5,"[amazing, doctor, son, diagnosed, type, diabet..."
2134,341.6,341,Dr-SARAH-CANTIN-LANGLOIS-CONCORD-MA.html,-1,f,5,5,5,5,"[est, avant, pendant, et, la, op, me, et, la]"
24149,4131.1,4131,Dr-Reza-Shahim-North+Little+Rock-AR.html,brain,m,5,5,5,5,"[patient, year, way, back, 2000, he, performed..."
38441,6529.4,6529,Dr-Sourabh-Nagpal-New+Delhi-DL.html,-1,m,5,5,5,5,"[hotel, south, crown, came, eating, fortunatel..."

In [92]:
df1.to_csv('grouped_1.csv')

# Anonymize

In [93]:
df2 = df1.drop(columns="name") # name might still be retrievable from review text

In [94]:
df2.sample(5)

,Unnamed: 0,doc_id,specialty,gender,S,P,H,K,review
39971,6783.8,6783,-1,m,5,5,5,5,"[could, not, recommend, highly, wish, he, fami..."
25624,4386.8,4386,family,m,5,5,5,5,"[la, est, et, est, et, tr, comp]"
30318,5180.3,5180,bone,m,5,5,5,5,"[staff, always, professional, nice, phone, gre..."
41606,7052.2,7052,psych,m,4,4,5,5,"[helped, tremendously, sleep, disorder, well, ..."
25381,4344.5,4344,-1,f,5,5,5,5,"[one, best, seen, us, activator, tool, adjustm..."

In [95]:
df2.columns = ['r_id','doc_id','specialty','gender','S','P','H','K','review']
df2.sample(5)

,r_id,doc_id,specialty,gender,S,P,H,K,review
29210,5003.1,5003,-1,f,5,5,5,5,"[shore, great, she, great, person, great, psyc..."
338,56.1,56,gas,f,4,3,1,1,"[terrible, experience, cold, slightly, judgmen..."
31999,5461.4,5461,gas,m,5,5,5,5,"[helpful, great, bedside, manor, knew, he, wel..."
32249,5503.5,5503,eye,f,5,5,5,5,"[muller, best, she, ophthalmologist, 10, year,..."
15125,2584.6,2584,-1,m,5,5,5,5,"[genetics, seems, complicated, data, clue, mea..."

In [101]:
df2.to_csv('processed_1.csv',index=False)

In [102]:
df3 = pd.read_csv('processed_1.csv')
df3.sample(3)

,r_id,doc_id,specialty,gender,S,P,H,K,review
17139,3658.6,3658,-1,f,5,5,5,5,"['unusually', 'she', 'great', 'child', 'help',..."
8354,1754.8,1754,skin,f,5,5,5,5,"['cannot', 'say', 'enough', 'staff', 'plastic'..."
19197,4068.5,4068,-1,m,5,5,5,5,"['always', 'thought', 'dentist', 'butt', 'his'..."

In [103]:
for i,row in df.iterrows():
    print(type(row['review']),len(row['review']),row['review'])
    break

<class 'list'> 16 ['fabulous', 'doctor', 'really', 'take', 'his', 'time', 'listens', 'concern', 'office', 'manager', 'wonderful', 'flexible', 'scheduling', 'appointment', 'always', 'friendly']